<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Modulo Inventario</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/perfil">Perfil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/inventario">Inventario <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login?logout=true">Cerrar Sesión</a>
                </li>
            </ul>
            <span class="navbar-text">
                <strong>Rol:</strong> <span th:text="${userRole}"></span>
            </span>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Gestión de Inventario: Historial de Movimientos</h2>

        <!-- Tabla para mostrar products -->
        <div class="mb-12">
            <h3>Lista de Movimientos</h3>
             <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tipo</th>
                            <th>Cantidad</th>
                            <th>Fecha y Hora</th>
                            <th>Producto</th>
                            <th>Usuario</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr th:each="movement : ${movements}">
                            <td th:text="${movement.id}"></td>
                            <td th:text="${movement.type}"></td>
                            <td th:text="${movement.quantity}"></td>
                            <td th:text="${movement.dateTime}"></td>
                            <td th:text="${movement.product.getNombre()}"></td> 
                            <td th:text="${movement.user.getNombre() }"></td> 
                        </tr>
            
                        
                    </tbody>
                </table> 
        </div>

        <!-- Mensaje de error -->
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
